<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_downfog01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,102}</string>
                <key>spriteSourceSize</key>
                <string>{196,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{196,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_downfog02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,102}</string>
                <key>spriteSourceSize</key>
                <string>{196,102}</string>
                <key>textureRect</key>
                <string>{{196,0},{196,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_downfog03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,102}</string>
                <key>spriteSourceSize</key>
                <string>{196,102}</string>
                <key>textureRect</key>
                <string>{{392,0},{196,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_downfog04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,102}</string>
                <key>spriteSourceSize</key>
                <string>{196,102}</string>
                <key>textureRect</key>
                <string>{{588,0},{196,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_downfog05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,102}</string>
                <key>spriteSourceSize</key>
                <string>{196,102}</string>
                <key>textureRect</key>
                <string>{{784,0},{196,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_fog01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,161}</string>
                <key>spriteSourceSize</key>
                <string>{341,161}</string>
                <key>textureRect</key>
                <string>{{0,102},{341,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_fog02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,161}</string>
                <key>spriteSourceSize</key>
                <string>{341,161}</string>
                <key>textureRect</key>
                <string>{{341,102},{341,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_fog03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,161}</string>
                <key>spriteSourceSize</key>
                <string>{341,161}</string>
                <key>textureRect</key>
                <string>{{682,102},{341,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_fog04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,161}</string>
                <key>spriteSourceSize</key>
                <string>{341,161}</string>
                <key>textureRect</key>
                <string>{{0,263},{341,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_fog05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,161}</string>
                <key>spriteSourceSize</key>
                <string>{341,161}</string>
                <key>textureRect</key>
                <string>{{341,263},{341,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_fog06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,161}</string>
                <key>spriteSourceSize</key>
                <string>{341,161}</string>
                <key>textureRect</key>
                <string>{{682,263},{341,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_hit01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,186}</string>
                <key>spriteSourceSize</key>
                <string>{215,186}</string>
                <key>textureRect</key>
                <string>{{0,424},{215,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_hit02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,186}</string>
                <key>spriteSourceSize</key>
                <string>{215,186}</string>
                <key>textureRect</key>
                <string>{{215,424},{215,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_hit03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,186}</string>
                <key>spriteSourceSize</key>
                <string>{215,186}</string>
                <key>textureRect</key>
                <string>{{430,424},{215,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{645,424},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{0,610},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_down_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{228,610},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{456,610},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_jump_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{684,610},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{0,769},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{228,769},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_jump_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{456,769},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{684,769},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{0,928},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{228,928},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{456,928},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_touch_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{684,928},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>actors.png</string>
            <key>size</key>
            <string>{1023,1087}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df3ec995633625f719a9fd514eea7c65:295ba09164dcf4e096b1351bdb5b348c:a8a8d655413f0a48afc1b310ef1c562a$</string>
            <key>textureFileName</key>
            <string>actors.png</string>
        </dict>
    </dict>
</plist>
